<IfModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 401 /public/index.html
    ErrorDocument 403 /public/index.html
    ErrorDocument 404 /public/index.html
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>